/*
 * Estilos de tu proyecto
 */
* {
    margin: 0;
    padding: 0;
}
#navegador{
    background-color: #2C3E50;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.titulo, .listaNavegacion{
    list-style: none;
    border: none;
    display: inline-flex;
}
.listaNavegacion li {
    margin-left: 20px;
    position: relative;
    left: 320%;
}
.listaNavegacion li a, .titulo li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*seccion de presentacion*/
.presentacion {
    background-color: #18BC9C;
    text-align: center
}
.logo-boot {
    margin-top: 150px;
}
.presentacion div:nth-child(2) h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.presentacion div:nth-child(3) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    margin-bottom: 4px;
    background-color: white;
    /* border: 1px blue solid; */
}

.presentacion div:nth-child(3) i {
    font-size: 24px;
    color: white;
    font-weight: bold;
    /* border: 1px blue solid; */
}

.presentacion div:last-child h3 {
    margin-top: 17px;
    font-size: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    /* border: 1px blue solid; */
    font-weight: bold;
}
.portafolio {
    text-align: center;
    margin-top: 120px;
  
}
.portafolio div:first-child {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #212529;
    text-transform: uppercase;
    /* border: 1px blue solid; */
}
.linea2 {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2C3E50;
    /* border: 1px blue solid; */
}

.linea_estrella {
    font-size: 24px;
    color: #2C3E50;
    /* border: 1px blue solid; */
}

.portfolio-imagenes a{
    text-decoration: none;
    position:relative;
    display: block;
    /* border: 1px blue solid; */
}

.portfolio-imagenes a:hover .bloque-color{
    opacity: 0.9;

}

.portfolio-imagenes img{
    width: 350px;
    height: 251px;
    /* border: 1px blue solid; */
    
}

.portafolio-fila1 li {
    float: left;
    padding: 14.2px;
    text-align: center;
    /* border: 1px blue solid; */
}

.portafolio-fila2 li {
    float: left;
    padding: 14.2px;
    text-align: center;
    /* border: 1px pink solid; */
    bottom: 10.2px;
    position: relative;
}



.portfolio-imagenes {
    margin-left: 100px;
    /*border: 1px blue solid;*/
    padding-bottom: 85px;
    /* border: 1px red solid; */
}
li {
    list-style: none;
}
/*seccion about*/
.about {
    text-align: center;
    margin-top: 600px;
    background-color: #18BC9C;
    font-family: 'Montserrat', sans-serif;
    padding: 7%;
    color: white;
}

.about div:first-child {
    top: 100px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.about div:nth-child(2) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #ffffff;
}

.about-textos p {
    width: 350px;
    height: 136px;
    float: left;
    padding: 20px;
    text-underline-position: 10px;
}
.about-textos {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    max-height: 100;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.about-boton a {
    display: inline-block;
    text-align: center;
    width: 178px;
    border: 2px white solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: #ffffff;
    top: 18px;
    position: relative;
    bottom: 18px;
}
/*SECCIÓN CONTACT*/

.contact {
    text-align: center;
    top: 88px;
    /*border: 1px blue solid;*/
    font-family: 'Montserrat', sans-serif;
    padding: 87px;
    margin-bottom: 18px;
}

.contact div:first-child {
    font-weight: bold;
    font-size: 30px;
    color: #2C3E50;
    text-transform: uppercase;
    text-align: center;
}

.contact div:nth-child(2) .linea {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #2C3E50;
}

.contact div:nth-child(2) i {
    color: #2C3E50;
    margin-bottom: 50px;
}

.contact div:nth-child(3) input {
    display: block;
    margin-left: 120px;
    padding-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
    width: 840px;
}

.contact div:nth-child(3) input:last-child {
    padding-bottom: 120px;
}

.email {
    font-size: 20px;
}

.contactSend a {
    display: inline-block;
    text-decoration: none;
    background-color: #18BC9C;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Lato', sans-serif;
    margin-top: 6em;
    padding-left: 17.5px;
    padding-right: 17.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    margin-right: 54em;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 70px;



}
/*SECCIÓN FOOTER*/

footer {
    width: 100%;
    height: 30em;
    background-color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

footer {
    box-sizing: border-box;
    
    text-align: center;
    display: block;
    height: 340px;
    
    
}

.footerContenido h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
   
    
}

.footerContenido .columna:last-child p {
    box-sizing: border-box;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    
}

.footerContenido .columna:first-child p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}

.footerContenido .columna:last-child p a {
    color:#21B99C;
    font-weight: bold;
    
}

.footerContenido {
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 7%;
    
    
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    
    
}

.fila {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.fila>div {
    display: inline-block;
    box-sizing: border-box;
    max-width: 33.333333%;
    position: relative;
    width: 380px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    
    
}

.columnas ul {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    
    
}

.columnas ul li {
    box-sizing: border-box;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    
}

.columnas ul li a {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px white solid;
    padding-top: 13px;
    color: white;
    transition: background-color 0.3s, width ease-in-out 0.4s, height ease-in-out 0.4s;
}



